package ${model.packageName};

import ${model.componentsPackage}.core.model.vo.PageVO;
import ${model.entityPackage}.${model.entityName};
import ${model.dtoPackage}.${model.dtoName};
import ${model.voPackage}.${model.voName};
import ${model.superServiceClassPackage};
import java.util.List;

/**
 * <p>
 * $!{model.comment}服务类
 * </p>
 *
 * @author ${model.author}
 * @since ${model.date}
 */
public interface ${model.serviceName} extends ${model.superServiceClass}<${model.entityName}> {

    /**
   * 分页查询
   */
    PageVO<${model.voName}> queryPageList(${model.dtoName} reqDto);

    /**
    * 详情查询
    */
    ${model.voName} queryDetail(Long id);

    /**
    * 保存
    */
    boolean save(${model.dtoName} reqDto);

    /**
    * 修改
    */
    boolean updateById(${model.dtoName} reqDto);

}
