import { createRouter, createWebHistory, RouteRecordRaw } from 'vue-router'
import Layout from '@/layout/index.vue'

const routes: Array<RouteRecordRaw> = [
    {
        path: '/login',
        name: 'login',
        meta: {
            title: '登录',
            hideInMenu: true
        },
        component: () => import('../views/login/login.vue')
    },
    {
        path: '/',
        component: Layout,
        name: 'Layout',
        redirect: '/dashboard',  //自动跳转
        children: [
            {
                path: '/dashboard',
                component: () => import('../views/index/Dashboard.vue'),
                name: 'Dashboard',
                meta: {
                    title: '首页'
                }
            }
        ]
    },
    {
        path: '/system',
        component: Layout,
        name: 'system',
        meta: {
            title: '系统管理'
        },
        children: [
#foreach($table in ${model.tables})
            {
                path: '/system/${table.originName}Page',
                component: () => import('../views/system/${table.capitalName}Page.vue'),
                name: '${table.capitalName}',
                meta: {
                    title: '${table.capitalName}'
                },
            },
#end
        ]
    },
]

const router = createRouter({
    history: createWebHistory(),
    routes
})

export default router